@model IEnumerable<LibraryWebApp.Book>

@{
    ViewData["Title"] = "Детально";
}

<h3>Детально про книгу @ViewBag.BookName</h3>
<p>
    <div>
        @Html.ActionLink("Видання", "Index", "Publisheds", new { id = ViewBag.BookId, name = ViewBag.BookName })
    </div>
    <div>
        @Html.ActionLink("Автори", "Index", "Wrotes", new { id = ViewBag.BookId, name = ViewBag.bookName })
    </div>
    <div>
        @Html.ActionLink("Теги", "Index", "Descriptions", new { id = ViewBag.BookId, name = ViewBag.bookName })
    </div>
</p>
@foreach (var item in Model)
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.YearWritten)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.YearWritten)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Isbn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Isbn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Genre.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
        <a asp-action="Index">Назад до списку</a>
    </div>
}
@foreach (var item in Model)
{
    <h4>Перші 10 коментарів</h4>
    @foreach (var comment in item.Comments.Take(10))
    {
        <div>
            <table>
                <tr>
                    <td>
                        <div class="ava-column bl-img">
                            @if (comment.Reader.img == null)
                            {
                                <span style="display: block; width: 64px; height: 64px; background: #ccc);"></span>
                            }
                            else
                            {
                                    <img style='width:80px; height:60px;' src="@comment.Reader.img">
                             }
                            </div>
                    </td>
                    <td class="right-td">
                        <div class="comment-entry">
                            <p>
                                @Html.ActionLink(comment.Reader.Login, "Details", "Readers", new { id = comment.ReaderId, BookId = ViewBag.BookId })
                                <span>@comment.DateWritten</span>
                            </p>
                            <p>
                                @comment.Text
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
            <div></div>
        </div>
    }
}


@foreach (var item in Model)
{
<form asp-controller="Comments" asp-action="Index" asp-route-id="@item.Id" >
    <input type="submit" value="Всі коментарі" class="btn-info" /> 
</form>
}