@model IEnumerable<LibraryWebApp.ListNote>

@{
    ViewData["Title"] = "Читацький щоденник";
}

<p>
    <a asp-action="Create">Додати запис</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.Status == true)
            {
                <td>
                    <span>Читаю</span>
                </td>
            }
            else
            {
                <td>
                    <span>Прочитав</span>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.ActionLink("До сторінки читача", "Details", "Readers", new { id = ViewBag.ReaderId, name = ViewBag.ReaderName })
